.ty-buttons {
  margin-left: 170px;
  margin-top: 5px;
}

.ty-buttons > div {
  display: inline-block;
  cursor: pointer;
  padding: 5px 7px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.ty-buttons > div:hover {
  background: #f5f5f5;
}
.ty-buttons > div:active {
  background: #e5e5e5;
}

.ty-buttons > .tp--auto {
  color: red;
}

.ty-buttons > .tp--auto.tp--auto-on {
  color: green;
}

.vLargeTextField {
  height: 8em;
}

.vLargeCharField {
  width: 610px;
}
